.app-container {
    font-family: sans-serif;
    padding: 32px;
    background: #f5f6fa;
    min-height: 100vh;
}
.header {
    margin-bottom: 32px;
}
.title {
    color: #273c75;
}
.subtitle {
    color: #353b48;
    font-size: 18px;
    margin-top: 8px;
}
.h2{
    color: #273c75;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #dcdde1;
    width: 100%;
    max-width: 400px;
}
input {
    background: #7a7474;
    border: 1px solid #dbe1e8;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
}
.create-btn {
    margin: 8px;
    background: #44bd32;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.profile-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.profile-card {
    background: #273c75;
    border-radius: 8px;
    box-shadow: 0 2px 8px #dcdde1;
    padding: 16px;
    width: 220px;
}
.profile-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
}
.profile-name {
    margin: 8px 0;
}